<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Message for you from perfectclean.md 525</h1>
<ul>
  <li>from email: <%= @user.email %></li>
  <li>name: <%= @user.firstname %></li>
  <li>last name: <%= @user.lastname %></li>
  <li>phone: <%= @user.phone %></li>
</ul>
<p>Message: <%= @user.message %></p>

<p>Thanks and have a great day!</p>
</body>
</html>