

<body style="margin-bottom:20px;margin-top:80px;">
<div>
  <nav class="navbar navbar-default navigation-clean navbar-fixed-top">
    <div class="container">
      <div class="navbar-header" style="width:70px; background-size:68px;background-repeat:no-repeat;min-height:61px;">
        <a href="#" class="navbar-brand navbar-link"><%= image_tag 'logo-2.png' %> </a>
        <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav navbar-right" style="margin-top:10px;">
          <li role="presentation"><a href="#about-us">Despre noi</a></li>
          <li role="presentation"><a href="#service">Servicii </a></li>
          <li role="presentation"><a href="#contacts">Contacte </a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="carousel slide" data-ride="carousel" id="carousel-1">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="jumbotron hero-nature carousel-hero">
        <h1 class="hero-title">Perfect Clean</h1>
        <p class="hero-subtitle">Curățare profesională a mobilei moale si mochetei la domicilui.</p>
      </div>
    </div>
    <div class="item">
      <div class="jumbotron hero-photography carousel-hero">
        <h1 class="hero-title">Hero Photography</h1>
        <p class="hero-subtitle">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Learn more</a></p>
      </div>
    </div>
    <div class="item">
      <div class="jumbotron hero-technology carousel-hero">
        <h1 class="hero-title">Hero Technology</h1>
        <p class="hero-subtitle">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Learn more</a></p>
      </div>
    </div>
    <div class="item">
      <div class="jumbotron hero-food carousel-hero">
        <h1 class="hero-title">Hero Food</h1>
        <p class="hero-subtitle">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Learn more</a></p>
      </div>
    </div>

  </div>
  <div><a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i><span class="sr-only">Previous</span></a>
    <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i><span class="sr-only">Next</span></a>
  </div>
  <ol class="carousel-indicators">
    <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-1" data-slide-to="1"></li>
    <li data-target="#carousel-1" data-slide-to="2"></li>
    <li data-target="#carousel-1" data-slide-to="3"></li>
    <li data-target="#carousel-1" data-slide-to="4"></li>
    <li data-target="#carousel-1" data-slide-to="5"></li>
  </ol>
</div>
<div class="register-photo">
  <a name="service"></a>
  <h1 style="text-align:center;font-size:4em;">Servicii </h1>
  <div class="form-container">
    <div class="image-holder"></div>
    <form method="post">
      <p class="text-center">
        <b style="font-size:140%;">1. Curățarea mobilei moale</b><br>
        <i>În procesul de curăţare se folosesc echipamente de origine: italiană, iar agenţii chimici utilizaţi, corespund tuturor normelor sanitare europene, după care suprafeţele prelucrate ramân inofensive pentru oameni şi animalele domestice.<br>
          Etapele de curăţare:<br>
          1. Aspirarea suprafeţei care urmează a fi curăţată;<br>
          2. Pulverizarea, injectarea soluţiei de curăţare;<br>
          3. Scoaterea manuală a petelor rezistente prin frecare;<br>
          4. Extracţia, aspirarea apei murdare din mobilă;<br>
          5. Curăţarea suprafeţelor dure ale mobilierului.<br>
          După preferința clienților noștri, mobilierul poate fi ușor parfumat.<br>
          <b style="font-size:130%;">Durata: de la 30 minute până la 3 ore.<br>*Preț: de la 100 lei.</b></i>
      </p>
    </form>
  </div>
</div>
<div class="register-photo-2">
  <div class="form-container">
    <div class="image-holder"></div>
    <form method="post">
      <p class="text-center">
        <b style="font-size:140%;">2. Curățarea covoarelor, mochetelor </b><br>
        <i>Curățarea covoarelor și a mochetelor se efectuează prin intermediul aparatului de injecție-extracție. Metoda de injecție-extracție este extreme de practică, astfel încât, după spălare suprafețele sunt practic uscate, necesitând câteva ore pentru a se usca definitiv. Pentru comoditatea clienților noștri, serviciul dat se realizează la domiciliu.<br>
          <b style="font-size:130%;">Durata: de la 30 minute.<br>*Preț: 20 lei/m².</b>
        </i>
      </p>
    </form>
  </div>
</div>
<div class="register-photo-3">
  <div class="form-container">
    <div class="image-holder"></div>
    <form method="post">
      <p class="text-center">
        <b style="font-size:140%;">3. Curățarea geamurilor</b><br>
        <i>
          Cu ajutorul ustensilelor special destinate pentru curățarea geamurilor, suntem gata să spălăm orice suprafața murdară a sticlei.<br>
          <b style="font-size:130%;">Durata: de la 30 minute.<br>*Preț: de la 10 lei/m².</b>
        </i>
      </p>
    </form>
  </div>
  <div class="container">
    <h3><i>*Tarifele indicate mai sus poartă caratcet informativ. Prețul poate varia în dependențăde complexitatea lucrărolor. Pentru o ofertă exactă de preț, contactați-ne.</i></h3>
  </div>
</div>
<div class="photo-gallery">
  <div class="container">
    <h1 style="text-align:center;font-size:4em;">Înainte/După</h1>
    <div class="intro"></div>
    <div class="row photos">
      <div class="col-lg-4 col-md-4 col-sm-6 item">
        <a href="blob:https%3A//bootstrapstudio.io/1cbc964b-e4e8-4324-8831-d57e04b870fd" data-lightbox="photos"><%= image_tag 'before-after-1.jpeg', class: 'img-responsive'%></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 item">
        <a href="blob:https%3A//bootstrapstudio.io/4c55c44d-c4c3-4dee-bd48-9c111c138cb0" data-lightbox="photos"><%= image_tag 'before-after-2.jpeg', class: 'img-responsive'%></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 item">
        <a href="blob:https%3A//bootstrapstudio.io/37fc69c2-2ab3-4c70-a2b0-b54197bde034" data-lightbox="photos"><%= image_tag 'before-after-3.jpeg', class: 'img-responsive'%></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 item">
        <a href="blob:https%3A//bootstrapstudio.io/d43c6dd8-ec16-4608-949b-ae6ad8a2c0e0" data-lightbox="photos"><%= image_tag 'before-after-4.jpeg', class: 'img-responsive'%></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 item">
        <a href="blob:https%3A//bootstrapstudio.io/6f734677-1f5e-427e-a0be-00b23ebbd76b" data-lightbox="photos"><%= image_tag 'before-after-5.jpeg', class: 'img-responsive'%></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 item">
        <a href="blob:https%3A//bootstrapstudio.io/69d3527f-a57c-4c5c-973c-8f6460b7b1fe" data-lightbox="photos"><%= image_tag 'before-after-6.jpeg', class: 'img-responsive'%></a>
      </div>
    </div>
  </div>
</div>
<div class="features-boxed">
  <a name="about-us"></a>
  <div class="container">
    <div class="intro">
      <h1 style="text-align:center;font-size:4em;">Despre noi </h1>
      <p class="text-center">PerfectClean a apărut recent pe piața din Republica Moldova pentru a vă oferi servicii profesionale de curățenie. Pentru că știm cât de important este pentru dumneavoastră aspectul îngrijit al spațiului în care vă aflați, venim să vă oferim servicii calitative și să vă readucem confortul acolo unde vă simțiți ”ca acasă”. Firma noastră are drept obiectiv ”satisfacerea clienților noștri”, astfel, serviciile prestate de noi sunt:</p>
    </div>
    <div class="row features">
      <div class="col-md-6 col-sm-6 item">
        <div class="box">
          <h1>Timp rezonabil</h1>
          <%= image_tag 'calendar.jpeg', class: 'about-img'%>

          <p class="description">Îndeplinite într-un timp rezonabil- pentru a reduce la minim deranjul creat, echipa noastră lucrează eficient și rapid. În dependență de complexitatea lucrărilor, suntenți preântâmpinați în prealabil despre dura efectuării acestora.</p></div>
      </div>
      <div class="col-md-6 col-sm-6 item">
        <div class="box">
          <h1>Inofensive</h1>
          <%= image_tag 'rebenok-divan-2.jpeg', class: 'about-img'%>
          <p class="description">Suprafeţele prelucrate ramân inofensive pentru oameni şi animalele domestic după curățare.</p></div>
      </div>
      <div class="col-md-6 col-sm-6 item">
        <div class="box">
          <h1>Sigure</h1>
          <%= image_tag 'nadeznost2.jpeg', class: 'about-img'%>
          <p class="description">Personalul angajat în firma noastră este responsabil și onest.</p></div>
      </div>
      <div class="col-md-6 col-sm-6 item">
        <div class="box">
          <h1>Profesionale</h1>
          <%= image_tag 'workers.jpeg', class: 'about-img'%>
          <p class="description">Echipamentele de lucru de origine italiană sunt de ultimă generație.</p></div>
      </div>

    </div>
  </div>
</div>
<div class="col-md-12" id="contact-div-form">
  <a name="contacts"></a>
  <h2 class="title-contacts">Pentru orice informație suplimentară vă rugăm să ne contactați:</h2>
  <div class="container col-md-6 item">
    <i class="icon ion-iphone icon"></i>
    <h3 class="phone-footer">+(373) 79 77 99 09</h3>
    <br>
    <i class="icon ion-iphone icon"></i>
    <h3 class="phone-footer">+(373) 79 77 99 05</h3>
    <%= image_tag 'logo-2.png', class: "logo-footer" %>

  </div>
  <div class="container col-md-6">
    <form id="contact-form" method="post" action="contact.php" role="form">

      <div class="messages"></div>

      <div class="controls">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="form_name">Numele *</label>
              <input id="form_name" type="text" name="name" class="form-control" placeholder="Introduceți numele dmnvs *" required="required" data-error="Firstname is required.">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="form_lastname">Prenumele *</label>
              <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Introduceți prenumele dmnvs *" required="required" data-error="Lastname is required.">
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="form_email">Adresa de email *</label>
              <input id="form_email" type="email" name="email" class="form-control" placeholder="Introduceți adresa de email *" required="required" data-error="Valid email is required.">
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="form_phone">Telefon</label>
              <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Introduceți nr. de telefonul">
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="form_message">Text *</label>
              <textarea id="form_message" name="message" class="form-control" placeholder="Mesajul dmnvs *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-12">
            <input type="submit" class="btn btn-success btn-send" value="Trimite">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-muted"><strong>*</strong> Cîmp obligatoriu.</p>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
<div class="footer-basic">
  <footer>
    <div class="social"><a href="https://www.facebook.com/PerfectCleanMoldova"><i class="icon ion-social-facebook"></i></a></div>
    <ul class="list-inline">
      <li><a href="#">Home </a></li>
      <li><a href="#about-us">Despre noi</a></li>
      <li><a href="#service">Servicii </a></li>
      <li><a href="#contacts">Contacte </a></li>
    </ul>
    <p class="copyright">PerfectClean© 2016</p>
  </footer>
</div>
<script src="jquery.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="Filterable-Gallery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>


<%#= render 'form' %>